/* BODY */
html,
body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

/*. HOME PAGE  .*/
/* Paralax Container */

.parallax-container {
    height: 600px;
    

}

/*. LOGIN PAGE  .*/

.container-login{
    background: url("../images/login.jpg") no-repeat bottom left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: dimgray;
    display: flex;
    height: 100vh;
    object-fit: cover;
    justify-content: center;
    position: relative;
}

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

/*. REGISTER PAGE  .*/

.container-register {
    background: url("../images/registerr.jpg") no-repeat bottom left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: dimgray;
    display: flex;
    height: 100vh;
    object-fit: cover;
    justify-content: center;
    position: relative;
}

.register-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

/* PROFILE PAGE */

.background-profile {
    background-image: radial-gradient(circle, #e5dcc5, #d8d1ba, #cbc7af, #bfbca4, #b2b29a, #a8a992, #9fa089, #959781, #8c8d79, #848371, #7b796a, #727062);
    height: 100%;
}

/* RECIPES PAGE */

.recipes-page {
    height: 70vh;
    background: url("../images/home_page.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fa-angle-double-down {
    font-size: 5rem;
    color: rgb(87, 119, 87);
    cursor: pointer;
    padding-top: 45px;
    
}
/*. ADD RECIPE PAGE  .*/

.background-color-recipes{
    color: gray;
}

/*. EDIT RECIPE PAGE  .*/


.background-color-edit_recipes {
    color: gray;
}


/*. RECIPES/ INDIVIDUAL PAGES   .*/

.collapsible {
    font-size: 1rem;
    color: #686237;
}

/*. ABOUT US PAGE   .*/

#index-banner{
    background-image: url("../images/about_us.jpg")   ;
    display: grid;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
}



/*. CONTACT US PAGE   .*/

.imagebg {
     background: url("../images/contact_us.jpg") no-repeat bottom left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: dimgray;
    display: flex;
    height: 100vh;
    object-fit: cover;
    justify-content: center;
    position: relative;
}
.page-container-form{
    padding-top: 10%;
}

/*.  SEARCH BOX    .*/

.search-form {
    width: 90%;
    padding-top: 2rem;
}