{% extends "base.html" %}
{% block content %}

<!-- 404 Container -->
<div class="container valign-wrapper">
    <div class="row">
        <div class="col s10 offset-s1 valign">
            <!-- Card Division -->
            <div class="card">
                <div class="card-content">
                    <div class="card-title  center">
                        <div class="card">
                            <!-- Image Division -->
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='images/404.jpg') }}" alt=""
                                    class="responisve-img">
                            </div>
                        </div>
                        <h1>404!</h1>
                    </div>
                    <p class="hometext center-align">Click The Back Button!</p>
                </div>
                <!-- Back to Home Page Division -->
                <div class="card-action center">
                    <a href="{{ url_for('home') }}" class="waves-effect waves-light btn-large z-depth-5">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}