{% extends "base.html" %}
{% block content %}

<!-- Page Section -->
<section class="background-color-recipes">
<h1 class="center-align">Coffee is Life</h1>

<div class="container">
<div class="row card-panel  brown lighten-4 z-depth-4">
   <h2 class="center-align white-text">Add Your Recipe</h2>
   <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
      <!--Recipe Image Url -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-images prefix"></i>
            <textarea id="url" name="url" class="materialize-textarea validate" required></textarea>
            <label for="url" class="white-text">Image Url</label>
         </div>
      </div>
      <!-- Category Name -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fa fa-tag prefix"></i>
            <textarea id="category_name" name="category_name" minlength="5" maxlength="15" 
               class="materialize-textarea validate" required></textarea>
            <label for="category_name" class="white-text">Category Name</label>
         </div>
      </div>
      <!--Name of Recipe -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-mug-hot prefix"></i>
            <textarea id="recipe_name" name="recipe_name" minlength="5" maxlength="15" 
               class="materialize-textarea validate" required></textarea>
            <label for="recipe_name" class="white-text">Recipe Name</label>
         </div>
      </div>
      <!-- Recipe Ingredients -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-list prefix"></i>
            <textarea id="ingridients" name="ingridients" class="materialize-textarea validate" required></textarea>
            <label for="ingridients" class="white-text">Ingredients</label>
         </div>
      </div>
      <!-- Recipe Method -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-coffee prefix"></i>
            <textarea id="method" name="method" class="materialize-textarea validate" required></textarea>
            <label for="method" class="white-text">Method</label>
         </div>
      </div>
      <!-- Submit Button -->
      <div class="row">
         <div class="col s12 center-align">
            <a href="{{ url_for('recipes') }}" class="btn waves-effect waves-light"  class="white-text">
            Cancel
            <i class="fas fa-times right"></i>
            </a>
            <button class="btn waves-effect waves-light tooltipped" data-position="top" data-tooltip="Yeeeeey! New Recipe Incoming!" class="white-text" type="submit">Add New Recipe
            <i class="fas fa-check"></i>
            </button>
         </div>
      </div>
   </form>
</div>
</div>

</section>
{% endblock %}