<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
         integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
      <link rel="stylesheet" href="#" />
      <title>Coffee Show</title>

 <!--nav bar-->
      <nav>
         <div class="nav-wrapper grey">
            <a href="{{ url_for('home') }}" class="logo">Coffee Show</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
               <li><a href="{{ url_for('home') }}" class="nav-item">Home</a></li>
               
               <li><a href="{{ url_for('recipes') }}" class="nav-item">Recipes</a></li>
               <li><a href="#" class="nav-item">Add Coffee Recipe</a></li>
               <li><a href="#" class="nav-item">Profile</a></li>
               <li><a href="#" class="nav-item">Log Out</a></li>
               
               <li><a href="#" class="nav-item">Log In</a></li>
               <li><a href="{{ url_for('register') }}" class="nav-item">Register</a></li>
               
               <li><a href="#" class="nav-item">About Us</a></li>
               <li><a href="#" class="nav-item">Contact Us</a></li>
            </ul>
         </div>
      </nav>
      <!--mobile nav bar-->
      <ul class="sidenav" id="mobile-demo">
         <li><a href="#">Home</a></li>
         
         <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
         <li><a href="#">Add Coffee Recipe</a></li>
         <li><a href="#">Profile</a></li>
         <li><a href="#">Log Out</a></li>
         
         <li><a href="#">Log In</a></li>
         <li><a href="{{ url_for('register') }}">Register</a></li>
         
         <li><a href="#">About Us</a></li>
         <li><a href="#">Contact Us</a></li>
      </ul>

       <!--templates-->
      <main class="container">
          
         {% block content %}
         {% endblock %}
      </main>

      <!-- Footer -->





        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6c6vXtzTBGL6gaYFSmZ0N6I09pjY6YWk&callback=initMap&libraries=&v=weekly"></script>      
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>  
   </body>
   {% block scripts %}
    {% endblock %}
</html>
