{% extends "base.html" %}
{% block content %}

<!-- Page Section -->
<section>
    <div class="col s12">
        <h2 class="center-align">Pour Over Method!</h2>
    </div>
    <!-- Page Container -->
    <div class="container">
        <!-- Recipe -->
        {% for recipe in recipes %}
        <div class="row">
            <div class="col s12">
                <!-- Recipe Image -->
                <div class="card z-depth-3">
                    <div class="card-image">
                        <img class="materialboxed responsive-img" width="450" height="650" src="{{ recipe.url }}" alt="Recipe Image">
                    </div>
                </div>
            </div>
            <!-- Recipe Name -->
            <div class="col s12">
                <h3 class="center-align">{{ recipe.recipe_name }}</h3>
            </div>
            <!-- Ingridients -->
            <div class="col s6">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="fas fa-seedling"></i>Ingridients!</div>
                        <div class="collapsible-body blue-grey lighten-3">
                            <h4 class="center-align">What You Need:</h4>
                            {% for list in recipe.ingridients.splitlines() %}
                            <span>{{ list }}</span>
                            {% endfor %}
                            <br>
                            <h6 class=" brown-text lighten-1">Created By:</h6>
                            <span>{{ recipe.created_by }}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Recipe Method of Making -->
            <div class="col s6">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="fas fa-shoe-prints"></i>Steps</div>
                        <div class="collapsible-body blue-grey lighten-3">
                            <h4 class="center-align">Follow The Steps:</h4>
                            {% for list in recipe.method.splitlines() %}
                            <span>{{ list }}</span>
                            {% endfor %}
                            <br>
                            <h6 class=" brown-text lighten-1">Created By:</h6>
                            <span>{{ recipe.created_by }}</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        {% endfor %}
    </div>
    <!-- Image Container -->
    <section class="container">
        <div class="col container">
            <!-- Slider Division -->
            <div class="slider">
                <ul class="slides">
                    <li>
                        <!--  image -->
                        <img src="{{ url_for('static', filename='images/pour_over.jpg') }}" alt="Pour Over Image">
                    </li>
                    <li>
                        <!--  image -->
                        <img src="{{ url_for('static', filename='images/pour_over1.jpg') }}" alt="Pour Over Image">
                    </li>
                    <li>
                        <!--  image -->
                        <img src="{{ url_for('static', filename='images/pour_over2.jpg') }}" alt="Pour Over Image">
                    </li>
                    <li>
                        <!--  image -->
                        <img src="{{ url_for('static', filename='images/pour_over3.jpg') }}" alt="Pour Over Image">
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Redirect to all recipes Division -->
    <div class="col s12 m8">
        <div class="row center-align">
            <h4>You can add your won recipe!</h4>
            <a class="btn-large center-align tooltipped" data-position="top" data-tooltip="Upload Your Recipe!"
                href="{{ url_for('add_recipe') }}"><i class="fas fa-file-import"></i> Upload!</a>
        </div>
    </div>
</section>

{% endblock %}