{% extends "base.html" %}
{% block content %}
<section class="recipes-page">
    <div class="row">
        <div class="col s12">
            <h3 class="center-align white-text">Check our Coffee Recipes!</h3>
            <h4 class="center-align white-text">Or Create Yours!</h4>
        </div>
        <div class="center-align">
            <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light btn z-depth-5">Add Recipe</a>
        </div>
        <div class="row">
            <div class="col s12 center-align ">
                <a class="down tooltip" data-position="bottom" data-tooltip="I am a tooltip"><i
                        class="fas fa-angle-double-down center-align"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="brown lighten-4 up">
    <!-- Search Box  -->
        <div class="row search-form ">
            <col class="container ">
            <div class="col s12 card-panel grey lighten-5 z-depth-3">
                <form action="{{ url_for('search') }}" method="post" class="col s12 ">
                    <div class="row valign-wrapper center-align">
                        <div class="input-field col s12 m8">
                            <i class="i fas fa-search prefix light-blue-text text-darken-4"></i>
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search Tasks</label>
                        </div>
                        <div class="col s12 m4">
                            <a href="{{ url_for('recipes') }}" class="red btn text-shadow z-depth-2">Reset</a>
                            <button type="submit" class="light-blue darken-1 btn text-shadow z-depth-2">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <!-- Coffee Recipes -->
    {% if recipes|length > 0 %}
    <!-- Recipes Container -->
    <div class="container ">
        <div class="row">
            {% for recipes in recipes %}
            <div class="col s12 m6 l4">
                <div class="card recipe-card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ recipes.url }}" alt="recipes">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator  teal-text lighten-1 text-darken-4 center-align text">
                            <strong>{{ recipes.recipe_name }}</strong>
                        </span>
                        <p class="center-align text">Click image!</p>
                        <br>
                        {% if session.user|lower == recipes.created_by|lower %}
                        <a href="{{ url_for('edit_recipe', recipes_id=recipes._id ) }}"
                            class="btn-small green waves-effect waves-light">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="btn-small red modal-trigger right" href="#modal-{{recipes._id}}"><i
                                class="far fa-trash-alt"></i></a>
                        </a>
                        {% endif %}
                        <!-- Check before delete  -->
                        <div id="modal-{{recipes._id}}" class="modal">
                            <div class="modal-content">
                                <h5 class="text center-align">Delete permanently?</h5>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('recipes', username=session['user']) }}"
                                    class="btn-small white-text grey darken-3 waves-effect waves-light">Cancel</a>
                                <a href="{{ url_for('delete_recipe', recipes_id=recipes._id ) }}"
                                    class="btn-small white-text grey darken-3 waves-effect waves-light">Delete</a>
                            </div>
                        </div>
                    </div>
                    <!-- Content Reveal -->
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><strong>{{ recipes.recipe_name }}</strong>
                            <i class="fas fa-times right"></i>
                        </span>
                        <strong>Ingredients:</strong>
                        <br>
                        {{ recipes.ingridients }}
                        <br>
                        <strong>Method:</strong>
                        <br>
                        {{ recipes.method }}
                        <p><em>by: {{ recipes.created_by }}</em></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h3 class="center-align red" >Sorry! No recipe Found!</h3>
    </div>
</section>
{% endif %}

{% endblock %}